<style>
  .form-group {
    margin-bottom:10px;
  }
</style>


   <header id="HOME" style="background-position: 50% -125px;">
                  <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0px; background-color:white;">
  	              <div class="container">
  	                <!-- Brand and toggle get grouped for better mobile display -->
  	                <div class="navbar-header" >
  	                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  	                    <span class="sr-only">Toggle navigation</span>
  	                    <span class="icon-bar"></span>
  	                    <span class="icon-bar"></span>
  	                    <span class="icon-bar"></span>
  	                  </button>
  	                  <a class="navbar-brand" href="/board/index"><img src="../assets/logo.png" alt=""></a>
  	                </div>
  
  	                <!-- Collect the nav links, forms, and other content for toggling -->
  	                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
  	                  <ul class="nav navbar-nav navbar-right">
  	                    <li><a href="/board/index">내 프로필</a></li>
  	                    <li><a href="/board/write">게시글 쓰기</a></li>
  	                    <li><a href="/board/mboard">미팅 게시글</a></li>
  	                    <li><a href="/users/log_out">로그아웃</a></li>
                        </ul>
  	                </div><!-- /.navbar-collapse -->
  	              </div><!-- /.container -->
  	            </nav>
  </header>
  <div class="col-md-offset-3 col-md-6 text-center" style="margin-top:-30px"  >
  <div class="work_title  wow fadeInUp animated">

      <div style="margin-top:300px; border: 2px solid #fff2c5;" class="col-xs-12 ">
    <!--칼라: a8d1ca-->
    
     
     <div style="margin-top:20px;"> 정상적으로 탈퇴되었습니다. 감사합니다. </div>
     <center>
     <a href="/main/index2"><div style="width:30%; min-width: 300px; margin-top: 0px; margin-bottom: 20px; color:black;">메인으로 가기<span style="color:#f63a55; font-weight:bold;"> > </span></div></a>
     </center>
      
  </div>
  </div>


