<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Creative Buttons with Bootstrap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>

<body>
  <header>
    <div class="container">
      <h1 class="text-center">Bootstrap Button Hover Styles <br> <span> Effects for buttons (hover and click)</span></h1>
    </div>
  </header>
  <!-- Section 1 -->
  <section class="purple">
    <div class="container">
      <nav class="main-nav">
        <a href="#" class="btn btn-rounded btn-icons infinite-rotate">
          <div class="glyphicon glyphicon-repeat"></div>
        </a>
        <a href="#" class="btn btn-rounded btn-icons infinite-rotate">
          <div class="glyphicon glyphicon-refresh"></div>
        </a>
        <a href="#" class="btn btn-rounded btn-icons infinite-rotate">
          <div class="glyphicon glyphicon-cog"></div>
        </a>
      </nav>
    </div>
  </section>
  <!-- Section 2 -->
  <section class="orange">
    <div class="container">
      <nav class="main-nav">
        <a href="#" class="btn btn-rounded btn-icons shadow-effect">
          <div class="glyphicon glyphicon-user"></div>
        </a>
        <a href="#" class="btn btn-rounded btn-icons shadow-effect">
          <div class="glyphicon glyphicon-search"></div>
        </a>
        <a href="#" class="btn btn-rounded btn-icons shadow-effect">
          <div class="glyphicon glyphicon-map-marker"></div>
        </a>
        <a href="#" class="btn btn-rounded btn-icons shadow-effect">
          <div class="glyphicon glyphicon-comment"></div>
        </a>
        <a href="#" class="btn btn-rounded btn-icons shadow-effect">
          <div class="glyphicon glyphicon-calendar"></div>
        </a>
      </nav>
    </div>
  </section>
  <!-- Section 3 -->
  <section class="green">
    <div class="container">
      <nav class="main-nav">
        <a href="#" class="btn btn-trans hover-top">
          <div>custom button</div>
        </a>
        <a href="#" class="btn btn-trans hover-left">
          <div>custom button</div>
        </a>
        <a href="#" class="btn btn-trans hover-right">
          <div>custom button</div>
        </a>
        <a href="#" class="btn btn-trans hover-bottom">
          <div>custom button</div>
        </a>

        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-trans hover-left">
            <div>Left</div>
          </button>
          <button type="button" class="btn btn-trans hover-top">
            <div>Top</div>
          </button>
          <button type="button" class="btn btn-trans hover-right">
            <div>Right</div>
          </button>
        </div>

        <div class="clearfix"></div>

        <a href="#" class="btn btn-trans hover-top icon">
          <div class="glyphicon glyphicon-plus"></div>
        </a>
        <a href="#" class="btn btn-trans hover-left icon">
          <div class="glyphicon glyphicon-pencil"></div>
        </a>
        <a href="#" class="btn btn-trans hover-right icon">
          <div class="glyphicon glyphicon-trash"></div>
        </a>
        <a href="#" class="btn btn-trans hover-bottom icon">
          <div class="glyphicon glyphicon-ok"></div>
        </a>

      </nav>

    </div>
  </section>
  <!-- Section 4 -->
  <section class="red">
    <div class="container">
      <nav class="main-nav">
        <div class="row">
          <div class="col-sm-3">
            <a href="#" class="btn btn-fill btn-block glyphicon glyphicon-pencil top">
              <div>Edit</div>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="#" class="btn btn-fill btn-block glyphicon glyphicon-trash bottom">
              <div>Delete</div>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="#" class="btn btn-fill btn-block glyphicon glyphicon-plus left">
              <div>Add</div>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="#" class="btn btn-fill btn-block glyphicon glyphicon-ok right">
              <div>Check</div>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <!-- Section 5 -->
  <section class="blue">
    <div class="container">
      <nav class="main-nav">
        <a href="#" class="btn btn-nav left glyphicon glyphicon-chevron-left">
          <div>Prev</div>
        </a>
        <a href="#" class="btn btn-nav right glyphicon glyphicon-chevron-right">
          <div>Next</div>
        </a>
      </nav>
    </div>
  </section>

</body>

</html>
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Creative Buttons with Bootstrap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>

<body>
  <header>
    <div class="container">
      <h1 class="text-center">Bootstrap Button Hover Styles <br> <span> Effects for buttons (hover and click)</span></h1>
    </div>
  </header>
  <!-- Section 1 -->
  <section class="purple">
    <div class="container">
      <nav class="main-nav">
        <a href="#" class="btn btn-rounded btn-icons infinite-rotate">
          <div class="glyphicon glyphicon-repeat"></div>
        </a>
        <a href="#" class="btn btn-rounded btn-icons infinite-rotate">
          <div class="glyphicon glyphicon-refresh"></div>
        </a>
        <a href="#" class="btn btn-rounded btn-icons infinite-rotate">
          <div class="glyphicon glyphicon-cog"></div>
        </a>
      </nav>
    </div>
  </section>
  <!-- Section 2 -->
  <section class="orange">
    <div class="container">
      <nav class="main-nav">
        <a href="#" class="btn btn-rounded btn-icons shadow-effect">
          <div class="glyphicon glyphicon-user"></div>
        </a>
        <a href="#" class="btn btn-rounded btn-icons shadow-effect">
          <div class="glyphicon glyphicon-search"></div>
        </a>
        <a href="#" class="btn btn-rounded btn-icons shadow-effect">
          <div class="glyphicon glyphicon-map-marker"></div>
        </a>
        <a href="#" class="btn btn-rounded btn-icons shadow-effect">
          <div class="glyphicon glyphicon-comment"></div>
        </a>
        <a href="#" class="btn btn-rounded btn-icons shadow-effect">
          <div class="glyphicon glyphicon-calendar"></div>
        </a>
      </nav>
    </div>
  </section>
  <!-- Section 3 -->
  <section class="green">
    <div class="container">
      <nav class="main-nav">
        <a href="#" class="btn btn-trans hover-top">
          <div>custom button</div>
        </a>
        <a href="#" class="btn btn-trans hover-left">
          <div>custom button</div>
        </a>
        <a href="#" class="btn btn-trans hover-right">
          <div>custom button</div>
        </a>
        <a href="#" class="btn btn-trans hover-bottom">
          <div>custom button</div>
        </a>

        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-trans hover-left">
            <div>Left</div>
          </button>
          <button type="button" class="btn btn-trans hover-top">
            <div>Top</div>
          </button>
          <button type="button" class="btn btn-trans hover-right">
            <div>Right</div>
          </button>
        </div>

        <div class="clearfix"></div>

        <a href="#" class="btn btn-trans hover-top icon">
          <div class="glyphicon glyphicon-plus"></div>
        </a>
        <a href="#" class="btn btn-trans hover-left icon">
          <div class="glyphicon glyphicon-pencil"></div>
        </a>
        <a href="#" class="btn btn-trans hover-right icon">
          <div class="glyphicon glyphicon-trash"></div>
        </a>
        <a href="#" class="btn btn-trans hover-bottom icon">
          <div class="glyphicon glyphicon-ok"></div>
        </a>

      </nav>

    </div>
  </section>
  <!-- Section 4 -->
  <section class="red">
    <div class="container">
      <nav class="main-nav">
        <div class="row">
          <div class="col-sm-3">
            <a href="#" class="btn btn-fill btn-block glyphicon glyphicon-pencil top">
              <div>Edit</div>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="#" class="btn btn-fill btn-block glyphicon glyphicon-trash bottom">
              <div>Delete</div>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="#" class="btn btn-fill btn-block glyphicon glyphicon-plus left">
              <div>Add</div>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="#" class="btn btn-fill btn-block glyphicon glyphicon-ok right">
              <div>Check</div>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <!-- Section 5 -->
  <section class="blue">
    <div class="container">
      <nav class="main-nav">
        <a href="#" class="btn btn-nav left glyphicon glyphicon-chevron-left">
          <div>Prev</div>
        </a>
        <a href="#" class="btn btn-nav right glyphicon glyphicon-chevron-right">
          <div>Next</div>
        </a>
      </nav>
    </div>
  </section>

</body>

</html>
