<div class="form-group" >
<h1 style="text-align:center">공지사항쓰기</h1>
<div class="col-md-4"></div>
<div class="col-md-4">
   
    <textarea class="form-control" type="text" rows="10" name="notice" placeholder="내용" required=""></textarea>
</div>
<div class="col-md-4"></div>
</div>
       <br>
<div class="col-md-4"></div>
<div class="col-md-4">
<div class="form-group">
<button type="submit" class="btn btn-default submit-btn form_submit" style="border-style:hidden; background: #e95d5d; margin-top: 25px;">공지사항쓰기</button>
</div>
</div>
<div class="col-md-4"></div>
